#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Fastmail
MimeType=x-scheme-handler/mailto
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=nkbljeindhmekmppbpgebpjebkjbmfaj %U
Icon=brave-nkbljeindhmekmppbpgebpjebkjbmfaj-Default
NoDisplay=true
StartupWMClass=crx_nkbljeindhmekmppbpgebpjebkjbmfaj
Actions=Calendar;Compose;Contacts;Mail

[Desktop Action Calendar]
Name=Calendar
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=nkbljeindhmekmppbpgebpjebkjbmfaj --app-launch-url-for-shortcuts-menu-item=https://app.fastmail.com/calendar/

[Desktop Action Compose]
Name=Compose
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=nkbljeindhmekmppbpgebpjebkjbmfaj --app-launch-url-for-shortcuts-menu-item=https://app.fastmail.com/mail/Inbox/compose

[Desktop Action Contacts]
Name=Contacts
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=nkbljeindhmekmppbpgebpjebkjbmfaj --app-launch-url-for-shortcuts-menu-item=https://app.fastmail.com/contacts/

[Desktop Action Mail]
Name=Mail
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=nkbljeindhmekmppbpgebpjebkjbmfaj --app-launch-url-for-shortcuts-menu-item=https://app.fastmail.com/mail/Inbox
